<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #keys {
            width: fit-content;
            height: fit-content;
            padding: 20px;
            border: 2px solid rgb(100, 100, 173);
        }

        .btn {
            width: 20%;
            height: 50px;
            background: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id='keys'></div>
    <script>
        const regularKeys = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'enter', 'esc'];
        const specialKeys = {
            "Arrow Up": "up",
            "Arrow Down": "down",
            "Arrow Right": "right",
            "Arrow Left": "left"
        };

        const sendRequest = async (text, type) => {
            await fetch(`http://192.168.18.112:3000/press-key`, {
                method: 'post',
                headers: {
                    'Access-Control-Allow-Origin': '*',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "key": text,
                    type
                })
            }).then(async (res) => {
                console.log(await res.json());
            });
        }

        regularKeys.forEach((key) => {
            const _button = document.createElement("button");
            const keysDiv = document.getElementById('keys');

            _button.innerText = key.toUpperCase();
            _button.name = key;
            _button.classList.add('btn');

            keysDiv.appendChild(_button);
        });

        Object.entries(specialKeys).forEach((spK) => {
            const _button = document.createElement("button");
            const keysDiv = document.getElementById('keys');
            const _spK_keycode = spK[1];

            _button.innerText = spK[0];
            _button.name = _spK_keycode;

            _button.classList.add('btn');

            keysDiv.appendChild(_button);
        });

        const buttons = document.getElementsByClassName('btn');

        for (let i = 0; i < buttons.length; i++) {
            const btn = buttons.item(i);

            btn.addEventListener("mousedown", async (ev) => {
                console.log(`Send request with key ${btn.name} and type 'mouse_down'`)

                await sendRequest(btn.name, 'mouse_down');
            });
        }
    </script>
</body>
</html>